/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
	display: flex;
	padding: 0 50px;
	justify-content: space-between;
}

ul {
	display: flex;
	flex-basis: 60%;
	justify-content: space-between;
}

main {
	display: flex;
	flex-wrap: wrap;
}

section {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	padding: 30px 0;
	margin: 30px;
}

h1 {
	font-size: 40px;
	width: 50%;
}

.first {
	flex-basis: 50%;
}

h4 {
	color: orange;
}

.second * {
	flex-basis: 40%;
}

.smallerImg {
	flex-basis: 20%;
}

h2 {
	font-size: 30px;
	margin: 10px 0 15px 0;
}

p {
	margin-bottom: 10px;
}

.third h2, .third h4{
	flex-basis: 100%;
}

.third{
	justify-content: center;
}

h2, h4 {
	text-align: center;
	margin-bottom: 15px;
}

.third ul {
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	gap: 20px;
}

.third img {
	flex-basis: 15%;
	margin-top: 30px;
}

.fourth {
	justify-content: center;
}

.fourth h4, .fourth h2, .fourth img, .big, .number{
	flex-basis: 100%;
	margin-bottom: 10px;
}

.fourth img {
	width: 20px;
}

.big, .number {
	text-align: center;
}

.number {
	font-size: 25px;
	color: orange;
}

.fourth div {
	display: flex;
	flex-wrap: wrap;
	margin: 0 30px;
}

.fourth div * {
	flex-basis: 100%;
	margin-top: 5px;
}

.fifth {
	justify-content: center;
}

.fifth * {
	text-align: center;
	flex-basis: 100%;
	margin-top: 15px;
}
