h1 {
	color: blue;
	text-decoration: underline;
	background: gold;
}
h2 {
	color: #be33ff;
	font-weight: bold;
	font-size: 25px;
	border: 5px solid rgb(255, 153, 51);
}

section {
	width: 50%;
	height: 200px;
	background: hsl(0, 0%, 40%);
	border-color: black;
}

section > p {
	color: white;
}

footer {
	background: black;
	border: 3px dotted lightgreen;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: white;
}