/* Please make the anchor tags gold, 20px, and have a purple background */
a {
	color: gold;
	font-size: 20px;
	background: purple;
}
/* Please make the section have a height of 200px, a 10px thick blue border, and a light orange background */
section {
	height: 200px;
	border: solid blue 10px;
	background: rgba(255, 201, 121, 0.8);
}


/* Please make the aside have a height of 300px, a thin red border, and a teal background  */
aside {
	height: 300px;
	border: red solid 1px;
	background: teal;
}
/* Please make the aside paragraph have white text, 18px, and a red underline */
p {
	color: white;
	size: 18px;
	text-decoration: underline red;
}