/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: skyblue;
	border: solid 8px limegreen;
	margin: 3%;
	color: white;
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
	font-size: 50px;
	margin: 50px;
	font-style: italic;
	font-family: 'Noto Serif', serif;
	clear: both;
}

h2 {
	font-size: 40px;
	font-weight: 700;
	margin: 30px 30px;
	clear: both;
}

p {
	text-align: justify;
	font-size: 20px;
	margin: 0 30px;
	line-height: 1.5;
	margin-bottom: 100px;
}

.firstParagraph {
	margin-bottom: 30px;
}

img {
	float: right;
	width: 20%;
	height: auto;
}

a {
	display: inline-block;
	width: 47%;
	height: 20px;
	font-size: 20px;
	font-weight: 700;
	color: green;
	text-decoration: underline;
}

a:hover {
	color: white;
	text-decoration: none;
}

.left {
	text-align: right;
	border-right: solid black 2px;
	padding-right: 5px;
}

.right {
	text-align: left;
	padding-left: 2px;
}

.current {
	color: white;
	text-decoration: none;
}

.socialLeft {
	text-align: right;
	border-right: solid black 2px;
	padding-right: 5px;
	width: 44%;
}

.socialMid {
	width: 5%;
	text-align: center;
}

.socialRight {
	display: inline-block;
	text-align: left;
	border-left: solid black 2px;
	padding-left: 5px;
	width: 44%;
}

.social {
	margin-bottom: 5%;
}